html{
    font-size: 18px;
}
td, th {
    border: 1px dotted black;
    padding: .5rem;
}

th {
    background-color: gainsboro;
    font-family: fantasy;
    font-stretch: expanded;
}
td {
    background-color: whitesmoke;
   /* font-size: .5rem; */
    height: 0.5rem;

}

table {
    border: 1px solid black;
    display:inline-block;
    margin-top: .5rem;
}

.use-rem{
    font-size:  0.5rem !important;
}
.use-em{
    font-size:  0.5em !important;
}

body {
    text-align:center;
    height: 10rem;
}